@page "/cars"
@using Microsoft.Extensions.Primitives
@inject ICarService carService
@inject NavigationManager navMan
@inject HttpClient httpClient

@if (_task.IsCompleted)
{
    <GridComponent T="CarModel" Grid="@_grid" OnRowClickedActions="@_rowClickActions"></GridComponent>
}
else
{
    <p><em>Cars are being loaded, one moment please...</em></p>
}

@code
{
    private CGrid<CarModel> _grid;
    private Task _task;
    private List<Action<object>> _rowClickActions;

    public static Action<IGridColumnCollection<CarModel>> Columns = c =>
    {
        c.Add(o => o.Id);
        c.Add(o => o.Make);
        c.Add(o => o.Model);
        c.Add(o => o.Year);
        c.Add(o => o.HP);
        c.Add(o => o.Price);
    };

    protected override async Task OnParametersSetAsync()
    {
        _rowClickActions = new List<Action<object>>();
        _rowClickActions.Add(ShowDetail);

        string url = navMan.BaseUri + "api/GetCarsGrid";
        var query = new QueryDictionary<StringValues>();
        query.Add("grid-page", "2");

        var client = new GridClient<CarModel>(httpClient, url, query, false, "carsGrid", Columns)
                                             .ChangePageSize(enable: true)
                                             .Filterable()
                                             .Searchable()
                                             .Selectable(enable: true)
                                             .Sortable()
                                             .WithMultipleFilters();
        _grid = client.Grid;

        _task = client.UpdateGrid();
        await _task;
    }

    private void ShowDetail(object item)
    {
        if (item.GetType() == typeof(CarModel))
        {
            navMan.NavigateTo($"/car/{((CarModel)item).Id}");
        }
    }
}